*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* comon*/

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

/*header*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list,
.contacts {
  display: none;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  padding: 16px 0;
  display: block;
}
.header-logo .logo-part {
  color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: #404bbf;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-btn-close {
  display: block;
  fill: #2f2f37;
}

/*mobile-menu*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: auto;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.container.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  border-radius: 100%;
  fill: #e7e9fc;
  stroke-width: 1px;
  stroke: #2e2f42;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 24px;
  border-radius: 50%;
  stroke-width: 1px;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
.mobile-nav-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 168px;
}
.mobile-nav-link.current {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.mobile-nav-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobile-contacts-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  width: 193px;
  height: 72px;
  margin-bottom: 48px;
}
.mobile-contacts-tel {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}
.mobile-contacts-media {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-contacts-list:hover,
.mobile-contacts-list:focus {
  color: #404bbf;
}
.mobile-menu-close {
  position: absolute;
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 24px;
  padding: 0;
}
.mobile-icone-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-icon-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}
.mobile-icon-list {
  width: 40px;
  height: 40px;
}
.mobile-social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-social-icons {
  fill: #f4f4fd;
}
.button-section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 72px 0;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office-people-mob-1x.jpg);
   background-color: #2e2f42;
}
@media screen and(-webkit-min-device-pixel-ratio: 2),
(min-resolution:2dppx),
(min-resolution: 192dpi) {
    .button-section {
        background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office-people-mob-2x.jpg);
    }
}
.main-title {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 72px;
    max-width: 216px;
    height: 160px;
}
.primary-button {
    display: block;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background: #4d5ae5;
    padding: 16px 32px;
    border-radius: 4px;
    height: 56px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.text-section {
    padding: 96px 0;
}
.list-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 72px;
}
.name-item {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2e2f42;
}
.list-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.images-container {
    display: none;
}
.text-element {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.team-section {
     background: #f4f4fd;
    padding: 96px 0;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 72px;
    margin: 0;
}
.list-element {
    background: #fff;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 0px 0px;
    width: 264px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    flex-basis: calc((100% - 3 * 24px) / 4);
}
.name-team {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    padding: 32px 16px; 
}
.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
.icon-team {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.icon-list {
    width: 40px;
    height: 40px;
}
.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons {
    fill: #f4f4fd;
}
.social-link:hover,
.social-link:focus,
.social-link:active {
  background-color: #404bbf;
}
.section-portfolio {
    padding: 96px 0;
    margin: 0 auto;
}
.title-portfolio  {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    margin: 0;
}
.portfolio-element {
    background: #fff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.portfolio-wrap {
    position: relative;
    overflow: hidden;
}
.card-portfolio {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 288px;
    height: 120px;
}
.cover-text {
    display: none;
}
.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.page-footer {
    background: #2e2f42;
    padding: 96px 16px;
}
.page-footer .footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 0 auto;
}
.text-footer {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
.footer-logo .logo-part {
    color: #f4f4fd;
    display: inline-block;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
    text-align: center;
    flex-direction: row;
    gap: 0px;
    margin-bottom: 16px;
    color: #4d5ae5;
}
.footer-social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.social-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.icon-footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 72px;
}
.social-link-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons-footer {
  fill: #f4f4fd;
}
.icon-list-footer {
  width: 40px;
  height: 40px;
}
.subscribe-footer {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.form-class-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.email-input {
    border: 1px solid #fff;
    border-radius: 4px;
    color: #ffffff;
    width: 288px;
    height: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    letter-spacing: 0.04em;
    line-height: 2;
    font-size: 12px;
    background-color: transparent;
    padding-left: 16px;
    opacity: 0.3;
}
.subscribe-button {
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4D5AE5;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
}
.subscribe-svg {
    fill: #fff;
    margin-left: 16px;
}
.email-input::placeholder {
  font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
    opacity: 0.6;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px;
}
.close-img {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttom-modal {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 4px;
    width: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    stroke-width: 1px;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttom-modal:hover,
.buttom-modal:focus {
  background-color: #404bbf;
  fill: #fff;
  border: none;
}
.text-modal {
  width: 256px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-cont-imput {
  position: relative;
}
.form-wrraper-cont {
  margin-bottom: 8px;
}
.form-label {
 font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-input {
   border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 256px;
    height: 40px;
    padding-left: 38px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent; 
}
.modal-input:focus,
.modal-input:hover {
  border-color: #4d5ae5;
}
.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-icon,
.modal-input:hover + .modal-icon {
  fill: #4d5ae5;
}
.form-wrraper-cont-comment {
  margin-bottom: 16px;
  width: 256px;
}
.modal-textarea {
    width: 100%;
    font-size: 12px;
    line-height: 1.17;
    border: 1px solid rgba(46, 47, 66, 0.4);
    letter-spacing: 0.04em;
    border-radius: 4px;
    color: rgba(46, 47, 66, 0.4);
    height: 120px;
    resize: none;
    /*padding: 16px 16px 24px;*/
    padding: 8px 16px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}
.modal-textarea:hover,
.modal-textarea:focus {
  border-color: #4d5ae5;
}
.modal-checkbox {
  margin-bottom: 24px;
}
.label-checkbox {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}
.custom-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .label-checkbox > .custom-checkbox {
    border: none;
    background-color: #404bbf;
    fill: #f4f4fd;
}
.privacy-policy {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}
.privacy-policy-text {
  width: 231px;
}
.modal-button {
    display: block;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .mobile-menu {
    display: none;
  }
  .burger-btn {
    display: none;
  }
  .header-nav {
    display: flex;
    align-items: center;
    height: 72px;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 124px;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .nav-link {
    display: block;
    padding: 24px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}
  .nav-link.current {
    position: relative;
  }
  .nav-link:hover,
  .nav-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
  .contacts {
    font-style: normal;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }
  .contacts-link {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button-section {
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office-people-tab-1x.jpg);
  }
  @media screen and (min-width: 768px) {
  .button-section {
    background-image: linear-gradient(
    to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ),
    url(../images/office-people-tab-2x.jpg);
    }
  }
  .main-title {
    max-width: 496px;
    height: 120px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
  }
  .primary-button:hover,
  .primary-button:focus {
    background-color: #404bbf;
  }
  .primary-button {
    min-width: 169px;
  }
  .text-container {
    width: 768px;
  }
  .list-text {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .list-item {
    flex-basis: calc((100% - 24px) / 2);
    align-items: flex-start;
  }
  .team-list {
    gap: 64px 24px;
    justify-content: center;
  }
  .social-link:hover,
  .social-link:focus,
  .social-link:active {
    background-color: #404bbf;
  }
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .card-portfolio {
    width: 356px;
  }
  .portfolio-img {
    min-width: 356px;
  }
  .portfolio-element {
    width: calc((100% - 24px) / 2);
  }
  .footer-container {
    width: 584px;
    row-gap: 72px;
    align-items: stretch;
  }
  .footer-logo {
    text-align: left;
  }
  .footer-best {
    margin-right: 24px;
    width: 264px;
    height: 112px;
  }
  .footer-social {
    width: 208px;
    height: 80px;
    display: block;
  }
  .social-text {
    text-align: start;
  }
  .icon-footer {
    margin: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-link-footer:hover,
  .social-link-footer:active {
    background-color: #31d0aa;
  }
  .social-link-footer:focus {
    background-color: #31d0aa;
  }
  .email-input {
    width: 264px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscribe-footer {
    text-align: start;
  }
  .subscribe-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscribe-svg {
    fill: #fff;
    margin-left: 16px;
  }
  .form-class-footer.email-input:hover {
    border: 1px solid #31d0aa;
  }
  .form-class-footer.subscribe-button:hover {
    background-color: #31d0aa;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
  .text-modal {
    width: 360px;
  }
  .modal-form {
    width: 360px;
    min-height: 336px;
  }
  .privacy-policy-text {
   width: 338px;
  }
  .modal.buttom-modal:hover,
  .buttom-modal:focus {
    border: none;
    background-color: #404bbf;
  }
  .modal-input:focus + .modal-icon,
  .modal-input:hover + .modal-icon {
    fill: #4d5ae5;
  }
  .modal-input {
    width: 360px;
  }
  .form-wrraper-cont-comment {
    width: 360px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
  max-width: 1158px;
  padding: 0 15px;
  }
  .mobile-menu {
    display: none;
  }
  .header-logo {
  margin-right: 76px;
  }
   .contacts-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .contacts-link {
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}
  .header-container {
    width: 1440px;
    height: 72px;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .contacts {
  margin-left: auto;
}
}
.button-section {
  padding: 188px 0;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-descktop-1x.jpg);
}
@media screen and (min-width: 1158px) {
  .button-section {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-descktop-2x.jpg);
  }
  .main-title {
    margin-bottom: 48px;
  }
  .text-section {
    padding: 120px 0;
  }
  .text-container {
    width: 1158px;
  }
    .list-text {
    gap: 24px;
  }
  .list-item {
    flex-wrap: nowrap;
    gap: 8px;
    flex-basis: calc((100% - 72px) / 4);
  }
  .name-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .images-container {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }
  .text-element {
    font-weight: 400;
  }
  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-container {
    width: 1128px;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 32px;
  }
.team-list {
  flex-wrap: nowrap;
  gap: 24px
  }
.name-team {
  padding-top: 32px;
  padding-bottom: 32px;
  }
.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
  }
.portfolio-list {
  gap: 24px;
  row-gap: 48px;
}
.card-portfolio {
  width: 360px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.portfolio-element {
  flex-basis: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cover-text {
  display: block;
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  height: 100%;
  left: 0;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-element:hover .cover-text {
  transform: translate(0);
}
  .portfolio-element:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.page-footer {
  padding: 100px 0;
}
.footer-container {
  flex-wrap: nowrap;
  width: 1158px;
  height: 112px;
  padding: 0 15px;
}
.text-footer {
  margin-bottom: 0;
  width: 264px;
}
.footer-logo {
  display: inline-block;
  justify-content: flex-start;
}
.footer-best {
  margin-right: 120px;
}
.form-footer {
  margin-left: 80px;
}
.email-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  background: transparent;
  outline: none;
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}
.email-input::placeholder {
  color: #fff;
}
.modal-input:focus,
.modal-input:hover {
  border-color: #4d5ae5;
}
.modal-form {
  flex-wrap: nowrap;
}
.form-class-footer {
  display: flex;
  gap: 24px;
}
.modal-input:focus + .modal-icon,
.modal-input:hover + .modal-icon {
  fill: #4d5ae5;
}
}